
VITE_PUBLIC_APP_BASE_URL=https://denner.in
VITE_OPS_APP_BASE_URL=https://ops.denner.in
VITE_USE_MOCK=true


VITE_SUPABASE_URL=https://hmfjpgytbwpllekwhkpi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhtZmpwZ3l0YndwbGxla3doa3BpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5MTg3MTgsImV4cCI6MjA5MDQ5NDcxOH0.kvGZR9OxDMUZS43Ce7wZjGpD4Y3jkjYviEM_B6oyqJw


NEXT_PUBLIC_SUPABASE_URL= https://hmfjpgytbwpllekwhkpi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhtZmpwZ3l0YndwbGxla3doa3BpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5MTg3MTgsImV4cCI6MjA5MDQ5NDcxOH0.kvGZR9OxDMUZS43Ce7wZjGpD4Y3jkjYviEM_B6oyqJw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhtZmpwZ3l0YndwbGxla3doa3BpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDkxODcxOCwiZXhwIjoyMDkwNDk0NzE4fQ.X7oiGjuK8rGSO6cKtTjCZLyihBlPi2zRsk8yzlgeNaE
NEXT_PUBLIC_WEB_APP_URL=http://localhost:3001