
VITE_PUBLIC_APP_BASE_URL=
VITE_OPS_APP_BASE_URL=



VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

NEXT_PUBLIC_SUPABASE_URL= 
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_WEB_APP_URL=
